<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <app-personajes [personajes]="personajes" [nuevo]="nuevo">
        </app-personajes>
        
    </div>
    <div class="col">

        <h3>Personaje a Agregar: <small>{{nuevo.nombre}}</small></h3>
        
        <hr>
        <form (ngSubmit)="agregar()">
            <input 
            type="text" 
            placeholder="Personaje"
            name="nombre"
            [(ngModel)]="nuevo.nombre"
            />
            <!-- [value]="nuevo.nombre"
            (input)="cambiarNombre($event)" -->
            <input 
            type="number" 
            placeholder="Poder"
            name="poder"
            [(ngModel)]="nuevo.poder"
            />
            <button type="submit">Agregar</button>
        </form>
        <h4>Poder: {{nuevo.poder}}</h4>
    </div>
    
</div>